<!DOCTYPE html>
<html ng-app="app">
<head>
    <script src="libs/angular.js"></script>
    <link rel="stylesheet" href="libs/bootstrap.css">
    <link rel="stylesheet" href="libs/bootstrap-theme.css">
    <link rel="stylesheet" href="libs/font-awesome.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Two-way data-binding</title>
    <script src="app.js"></script>

</head>


<body ng-controller="appCtrl">
    <div class="row">
        <sidebar class='col-lg-3 col-md-3 col-sm-3 col-xs-3'>
            <div class="sidebar_fixed">
                <ul ng-model='person'>
                    <li>Name : {{person.name}}</li>
                    <li>Surname : {{person.surname}}</li>
                    <li>Age : {{person.age}}</li>
                    <li><div class='image_container_sidebar'><img src="{{person.ava}}" width='100%'></div></li>
                </ul>
            
                <div class="button_container">
                    <button class="btn btn-warning" ng-click="showList()"><i class="fa fa-list fa-3x" aria-hidden="true"></i></button>
                    <button class="btn btn-warning" ng-click="showTable()"><i class="fa fa-table fa-3x" aria-hidden="true"></i></button>
                </div>
            </div>
        </sidebar>

        <ng-include src="url"></ng-include>
    </div>
</body>
</html>
